.register-form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.register-form > input{
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 100;
}

.form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-header{
    text-align: center;
}