.table-section{
    padding: 20px;
    
}

.table-section > h2{
    font-size: 1.3rem;
}

.info {
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 95%;
    width: 100%;
    padding: 15px; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: #333; 
    line-height: 1.8; 
    padding-right: 20px;
  }
  

.add-url-form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.url-input, #shorten-btn{
    height: 2rem;
    font-size: 1.4rem;
    border: none;
}

#shorten-btn{
    background-color: cadetblue;
    color: white;
}

#shorten-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.url-input{
    width: 500px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}

.url-input:focus{
    border: 2px solid cadetblue ;
}

.url-input::placeholder{
    color: #828282;
    font-weight: 700;
    opacity: 0.4;
}

.error-msg{
    color: red;
    text-align: center;
}


.btn-container > a  {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.btn-container > button  {
    width: px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}


.info-btn:hover{
    background-color: #7b7878;
    color: rgb(191, 235, 125);
    
}

.delete-btn:hover{
    background-color: rgb(213, 89, 89);

}

.url-separator{
    height: 2px;
    width: 100%;
    border: none;
    background-color: #73D9CD;
}


.url:hover{
    text-decoration: underline;
}



.url-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
  }
  
  .url-text {
    font-size: 16px;
  }
  
  .url {
    color: #007bff;
    text-decoration: none;
  }
  
  .btn-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .info-btn {
    text-align: start;
    background-color:#333;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .delete-btn {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .url-separator {
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  