.table-section{
    padding: 20px;
    
}

.table-section > h2{
    font-size: 1.3rem;
}

.info {
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 95%;
    width: 100%;
    padding: 15px; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: #333; 
    line-height: 1.8; 
    padding-right: 20px;
  }
  

.add-url-form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.url-input, #shorten-btn{
    height: 2rem;
    font-size: 1.4rem;
    border: none;
}

#shorten-btn:hover{
    cursor: pointer;
}

.url-input{
    width: 500px;
    background-color: rgb(174, 174, 174);
    border: 0px;
}

.url-input::placeholder{
    color: black;
    font-weight: 700;
    opacity: 0.4;
}

.error-msg{
    color: red;
    text-align: center;
}



.btn-container > a  {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.btn-container > button  {
    width: 75px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}



.info-btn:hover{
    background-color: #333;
    color: greenyellow;
}

.delete-btn:hover{
    background-color: red;
    opacity: 0.8;
}

.url-separator{
    height: 2px;
    width: 100%;
    border: none;
    background-color: #73D9CD;
}


.url:hover{
    text-decoration: underline;
}


/* UrlList.css */

/* Container for each URL entry */
.url-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
  }
  
  /* URL text styles */
  .url-text {
    font-size: 16px;
  }
  
  /* Long and Short URL styles */
  .url {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Button container styles */
  .btn-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Info button styles */
  .info-btn {
    text-align: start;
    background-color:#333;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Delete button styles */
  .delete-btn {
    color: black;
    border: none;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Separator styles */
  .url-separator {
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  